<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hbbsolution.maid">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".base.MaidApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCD5w90Aa8k4ISQoPIcHQ-HsABUj2aAzns" />

        <activity android:name=".splashscreenactivity.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".main.view.HomeActivity" />
        <activity android:name=".workmanager.listworkmanager.view.WorkManagerActivity" />
        <activity android:name=".workmanager.detailworkmanager.view.DetailJobPostActivity" />
        <activity android:name=".workmanager.detailworkmanager.view.DetailJobPendingActivity" />
        <activity android:name=".history.activity.HistoryActivity" />
        <activity android:name=".history.activity.DetailWorkHistoryActivity" />
        <activity android:name=".history.activity.ListWorkActivity" />
        <activity android:name=".more.phuc_tran.view.ContactActivity" />
        <activity android:name=".more.phuc_tran.view.AboutActivity" />
        <activity android:name=".home.list_job.view.ListJobActivity" />
        <activity android:name=".home.job_near_by.view.JobNearByActivity" />
        <activity android:name=".home.job_detail.view.JobDetailActivity" />
        <activity android:name=".home.owner_profile.view.OwnerProfileActivity" />
        <activity android:name=".more.duy_nguyen.view.StatisticActivity" />
        <activity android:name=".more.duy_nguyen.view.LanguageActivity" />
        <activity android:name=".more.duy_nguyen.view.ReportOwnerActivity" />
        <activity android:name=".home.job_near_by.view.JobNearByMapActivity" />
        <activity android:name=".more.phuc_tran.view.TermActivity" />
        <activity android:name=".more.phuc_tran.view.ForgotPassActivity" />
        <activity android:name=".more.viet_pham.MoreActivity" />
        <activity android:name=".maid_profile.view.MaidProfileActivity" />
        <activity android:name=".more.viet_pham.view.signin.ShareCodeActivity" />
        <activity android:name=".more.viet_pham.view.signin.SignInActivity" />
        <activity android:name=".sign_up.view.RegisterActivity" />

        <service android:name=".service.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>